*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-blue: rgb(40, 54, 73);
  --secondary-blue: rgb(27, 32, 39);

  --primary-light-blue: rgb(240, 248, 255);
  --secondary-light-blue: rgba(240, 248, 255, 0.7);

  --dark: rgb(36, 36, 36);
  --yellow: rgb(255, 240, 24);
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  display: grid;
  place-items: center;
  background: var(--secondary-blue);
}

.card {
  color: var(--primary-light-blue);
  background: var(--primary-blue);
  border-top: 5px solid var(--yellow);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1em 1.5em;
  width: min(500px, 90%);
}

.form {
  display: flex;
  gap: 0.5rem;
}

#user-input {
  color: var(--secondary-light-blue);
  background: transparent;
  width: 100%;
  border-radius: 100px;
  border: 2px solid white;
  padding: 0.5em 1em;
}

#user-input:focus {
  outline: 1px solid black;
}

#user-input::placeholder {
  color: var(--secondary-light-blue);
}

#search-btn {
  width: 75px;
  border-radius: 100px;
  border: 2px solid white;
  background: none;
  display: grid;
  place-items: center;
  color: white;
}

#search-btn:hover {
  border: none;
  background: var(--dark);
  color: white;
}

.title {
  margin-bottom: 0;
  font-size: 2rem;
}

.temp {
  margin-top: 0;
  font-size: 2rem;
}

.description {
  display: flex;
  align-items: center;
}

.desc-icon {
  display: inline;
  width: 30px;
  height: 30px;
}

.other-details {
  list-style: none;
  padding: 0;
  margin-top: 2em;
}

.other-details li {
  margin-top: 0.5em;
}

.description {
  text-transform: capitalize;
}
